#rtp-contact .container{background-color: beige; padding: 30px 40px;}
#rtp-contact-caption{font-style: italic; color: #72443c;}
#rtp-contact-details{margin: 15px 0px;}
.rtp-contact-image-wrap img{width:100%;}
