#rtp-preorder .container{padding: 0px;}
div.rtp-book-img{text-align: center; max-height: 500px;}
.rtp-book-img img{width: 240px; height: auto; min-width: 200px; margin: 15px 0px;}

#rtp-preorder-right{padding: 30px 40px;}
